* {
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
}

.container {
  border-left: 5px solid orange;
  border-right: 5px solid orange;
  background-position: center center;
  background-image: url("https://wallpaperscraft.com/image/netherlands_holland_canal_river_buildings_115333_1920x1080.jpg");
  background-size: cover;
  height: 100%;
}

 .header {
    margin: auto;
    text-align: center;

 }

 .header-text {
  letter-spacing: 1.5px;
  color: #FFF;
  text-align: center;
  margin: 0 auto;
  width: 45%;
  position: relative;
  top: 185px;

}

.header-text h1 {
  position: relative;
  bottom: 20px;
  font-size: 56px;
  font-family: 'Anton', sans-serif;
}

.header-text h2 {
  letter-spacing: 1px;
  padding-right: 0;
  padding-left: 0;
  padding-top: 2px;
  padding-bottom: 3px;
  font-size: 35px;
  font-family: 'Anton', sans-serif;
  border-bottom: 4px solid orange;
  width: 50%;
  text-align: center;
  margin: auto;
}

.nav {

  width: 100%;
  z-index: 1;
  position: fixed;
  text-align: center;
  border-bottom: 1px solid lightgray;

}

.navB li{
  letter-spacing: 1px;
  font-size: 12px;
  font-family: Arial;
  padding: 20px 20px;
  display: inline-block;
  color: #FFF;
}



.navB:hover {
   padding: 5px 1px;
   border-bottom: 2px solid orange;
   border-width: medium;
   font-weight: bold;

 }

.value-props {


 		display: flex;
    flex: wrap;
    margin: auto;
    width: 20%;


}

.prop {
    width: 18%;
    margin: auto;

    padding: 10px;
    position: relative;
    top: 200px;
}

.prop h2 {
  font-size: 20px;
  font-family: 'Maven Pro', sans-serif;
  color: #FFF;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
}

.prop img {
  margin: auto;
  text-align: center;
  border: 2px solid orange;
  border-radius: 100%;




}
